#wrap{
	margin:auto;
	/*width: 665px;*/
	height: 650px;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
#today{
	padding: 5px 20px;
	overflow: auto;
	margin: 15px;
	height: 250px;
	border: 1px solid black;
}
#tomorrow{
	padding: 5px 20px;
	overflow: auto;
	margin: 15px;
	height: 250px;
	border: 1px solid black;
}
#today > li,#tomorrow > li{
	margin: 10px 5px;
	border-bottom: 1px solid rgba(0,0,0,0.7)
}
#later{
	overflow: auto;
	margin: 15px;
	height: 598px;
	border: 1px solid black;
}
button{
	margin-left: 15px;
}
